.dg-widget-wrapper {
    display: grid;
    gap: 6px;
    padding: 10px 12px;
}

.dg-quote-glass {
    display: grid;
    gap: 6px;
    padding: 12px 12px 16px 12px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 8px;
}

#dg_motivation_widget .inside {
    padding:  0;
    background: linear-gradient(135deg, #f7f8ff, #f2f6ff);
    transition: background 300ms ease;
    margin-top: 0;
}

#dg_motivation_widget .postbox-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#dg_motivation_widget .hndle {
    background: transparent;
}

.dg-icon {
    font-size: 20px;
}

.dg-quote {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.dg-author {
    margin: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
}
